body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
input, button {
    margin-bottom: 10px;
}
button-row {
    margin-top: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.container {
    border-radius: 5px;
    background-color: #ffffff;
    margin: 20px 100px;
    padding: 20px;
    align-content: center;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.inputText{
    width: 1280px;
}

button-solve {
    background-color: #222;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 25%;
    margin: 20px auto;
    border-radius: 10px;
}
.button-solve:hover:not(.active) {
    background-color: #4CAF50;
    color: white;
}

.button {
    background-color: #ffffff;
    border-color: #222222;
    border-style: solid;
    color: #222222;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px 10px;
    border-radius: 10px;
}
.button:active {
    background: #4CAF50;
    color: #ffffff;
}
.button:hover:not(.active) {
    background-color: #222222;
    color: #ffffff;
}