<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laba 2</title>
  <link rel="stylesheet" th:href="@{css/styleLaba2.css}">
  <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<div>
  <ul>
    <li><a href="/laba1">Лаба 1</a></li>
    <li><a class="active" href="/laba2">Лаба 2</a></li>
    <li><a href="/laba3">Лаба 3</a></li>
    <li><a href="/laba4">Лаба 4</a></li>
    <li><a href="/laba5">Лаба 5</a></li>
  </ul>
  <div class="container">
    <p>Входной текст</p>
    <input type="text" placeholder="Начальный текст">
    <div class="button-group">
      <button>Загрузить сообщение</button>
      <button>Шифровать сообщение</button>
      <button>Расшифровать сообщение</button>
      <button>Загрузить шифр</button>
    </div>
    <p>Выбор шифрования</p>
    <select>
      <option value="1">Одноалфавитный шифр</option>
      <option value="2">Многоалфавитный шифр</option>
    </select>

      <div class="checkbox-label">
        <label>Лозунг</label>
        <input type="checkbox" id="checkbox" class="checkbox">
      </div>
    <div id="text-field" style="display: none;">
      <input type="text" id="input" placeholder="Введите лозунг">
    </div>
    <p>Результат</p>
    <input type="text" placeholder="Тут вывод результата">
  </div>
</div>

  <script>
    const checkbox = document.getElementById('checkbox');
    const textField = document.getElementById('text-field');

    checkbox.addEventListener('change', function() {
      if (checkbox.checked) {
        textField.style.display = 'block';
      } else {
        textField.style.display = 'none';
      }
    });
  </script>
</body>
</html>