<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laba 3</title>
  <link rel="stylesheet" th:href="@{css/styleLaba3.css}">
  <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<div>
  <ul>
    <li><a href="/laba1">Лаба 1</a></li>
    <li><a href="/laba2">Лаба 2</a></li>
    <li><a class="active"  href="/laba3">Лаба 3</a></li>
    <li><a href="/laba4">Лаба 4</a></li>
    <li><a href="/laba5">Лаба 5</a></li>
  </ul>

  <div class="container">

    <p>Входной текст</p>
      <form action="/loadData3" method="post">
        <input th:value="${textInput}" name = "textInput" type="text" placeholder="Начальный текст">
    <!-------------------------------------------------------------------------->
        <button>Загрузить сообщение</button>
      </form>
    <form action="/encrypt3" method="post">
        <button >Шифровать сообщение</button>
      </form>
      <form action="/decrypt3" method="post">
        <button>Расшифровать сообщение</button>
      </form>
        <form action="/loadCipher3" method="post">
          <button>Загрузить шифр</button>
        </form>
    <table>
      <tr>
        <th th:each="pair : ${spellMessage}" th:text="${pair.key}"></th>
      </tr>
      <tr>
        <td th:each="pair : ${spellMessage}" th:text="${pair.value}"></td>
      </tr>
    </table>
    <!-------------------------------------------------------------------------->
    <table>
      <tr>
        <th>Символ</th>
      </tr>
      <tr th:each="entry : ${cipherAlphabet}">
        <td th:text="${entry.key}"></td>
        <td th:each="value : ${entry.value}" th:text="${value} + ' '"></td>
      </tr>
    </table>

    <table>
      <tr>
        <th th:each="pair : ${spellEncrypted}" th:text="${pair.key}"></th>
      </tr>
      <tr>
        <td th:each="pair : ${spellEncrypted}" th:text="${pair.value}"></td>
      </tr>
    </table>
    <!-------------------------------------------------------------------------->
    <p>Результат</p>
    <input th:value="${textOutput}" type="text" placeholder="Тут вывод результата">
  </div>
</div>
</body>
</html>